@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


/* Share Style */

.display-flex {
    display: flex;
}

.primary-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

main>section {
    margin-top: 130px;
}


/* share color */

.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;
}

.dark3 {
    color: #727272;
}


/* Header Style */


/* //navbar style//  */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav-item {
    margin-left: 30px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.brand {
    font-size: 2.8rem;
    font-weight: bold;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}


/* //banner Style */

.banner {
    text-align: center;
}

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 145px;
}

.banner-details {
    font-size: 1rem;
    margin: 24px auto 30px auto;
}

.banner-img {
    width: 100%;
}


/* Responsive Media Queary for Mobile */

@media screen and (max-width:576px) {
    /* Header section */
    .navbar,
    .nav-links {
        flex-direction: column;
    }
    .nav-links {
        margin-top: 20px;
        gap: 10px;
    }
    .banner-title {
        padding-top: 100px;
    }
}


/* Responsive Media Query for tablet or medium device */

@media screen and (min-width:576px) and (max-width:990px) {
    /* Header Section */
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        margin-top: 20px;
    }
    .banner-title {
        padding-top: 100px;
    }
}


/* Team-features styles */

.team-features {
    margin-top: 85px;
}

.team-features-container {
    gap: 73px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-list {
    align-items: center;
}

.feature-title {
    font-size: 2.8rem;
    max-width: 464px;
}

#quick-list {
    font-weight: 500;
}

#of-our {
    font-weight: bold;
}

#features {
    font-weight: bold;
    color: #FF900E;
}

.feature-description {
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 30px;
}