    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    .work-sans-font {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    /* Share Style */
    
    .display-flex {
        display: flex;
    }
    
    .primary-bg {
        background-color: rgba(255, 144, 14, 0.1);
    }
    
    .btn-primary {
        background-color: #FF900E;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 20px 25px;
        border: none;
        border-radius: 8px;
    }
    
    main>section {
        margin-top: 130px;
    }
    /* share color */
    
    .dark1 {
        color: #131313;
    }
    
    .dark2 {
        color: #424242;
    }
    
    .dark3 {
        color: #727272;
    }
    /* Header Style */
    /* //navbar style//  */
    
    .navbar {
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }
    
    .nav-item {
        margin-left: 30px;
        list-style: none;
    }
    
    .nav-link {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .brand {
        font-size: 2.8rem;
        font-weight: bold;
    }
    
    .navbar,
    .banner {
        max-width: 1440px;
        margin: 0 auto;
    }
    /* //banner Style */
    
    .banner {
        text-align: center;
    }
    
    .banner-content {
        max-width: 860px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    
    .banner-title {
        font-size: 4rem;
        font-weight: bold;
        padding-top: 145px;
    }
    
    .banner-details {
        font-size: 1rem;
        margin: 24px auto 30px auto;
    }
    
    .banner-img {
        width: 100%;
    }
    /* Responsive Media Queary for Mobile */
    
    @media screen and (max-width:576px) {
        /* Header section */
        .navbar,
        .nav-links {
            flex-direction: column;
        }
        .nav-links {
            margin-top: 20px;
            gap: 10px;
        }
        .banner-title {
            padding-top: 100px;
        }
        .banner {
            width: 90%;
        }
    }
    /* Responsive Media Query for tablet or medium device */
    
    @media screen and (min-width:576px) and (max-width:990px) {
        /* Header Section */
        .navbar {
            flex-direction: column;
        }
        .nav-links {
            margin-top: 20px;
        }
        .banner-title {
            padding-top: 100px;
        }
        .banner {
            width: 90%;
        }
    }
    /* Team-features styles */
    
    .team-features {
        margin-top: 85px;
    }
    
    .team-features-container {
        gap: 73px;
        max-width: 1440px;
        margin: 0 auto;
        align-items: center;
    }
    
    .team-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    
    .features-list {
        align-items: center;
    }
    
    .feature-title {
        font-size: 2.8rem;
        max-width: 464px;
    }
    
    #quick-list {
        font-weight: 500;
    }
    
    #of-our {
        font-weight: bold;
    }
    
    #features {
        font-weight: bold;
        color: #FF900E;
    }
    
    .feature-description {
        font-size: 1rem;
        margin-top: 24px;
        margin-bottom: 30px;
    }
    /* Responsive Media Queary for Mobile device features section */
    
    @media screen and (max-width:576px) {
        .team-features-container {
            flex-direction: column;
        }
        .team-images {
            grid-template-columns: repeat(1, 1fr);
        }
        .features-list {
            width: 90%;
        }
    }
    /* Responsive Media Query for tablet or medium device */
    
    @media screen and (min-width:576px) and (max-width:990px) {
        .team-features-container {
            flex-direction: column;
        }
        .features-list {
            width: 90%;
        }
    }
    /* Feature will enjoy section style */
    
    .feature-enjoy-container {
        max-width: 1440px;
        margin: 0 auto;
        gap: 160px;
    }
    
    .feature-enjoy-content {
        padding-top: 20px;
    }
    
    .title-enjoy-feature {
        font-size: 2.8rem;
        font-weight: bold;
        max-width: 468px;
        border-left: 5px solid #FF900E;
        padding-left: 20px;
        line-height: 1.2;
    }
    
    .description-feature-enjoy {
        max-width: 586px;
        font-size: 1rem;
        padding: 27px 0;
    }
    
    .feature-enjoy-card-container {
        flex-direction: column;
        gap: 20px;
    }
    
    .enjoy-feature-card {
        max-width: 586px;
        background-color: #FFFFFF;
        padding: 30px 42px 30px 30px;
        box-shadow: 2px 10px 5px 0px #f5f4f4;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }
    
    .enjoy-feature-card:hover {
        transform: translate(-5px);
    }
    
    .card-title {
        font-size: 1.3rem;
        font-weight: 600;
    }
    
    .card-description {
        font-size: 1rem;
        margin-top: 10px;
    }
    
    .feature-enjoy-img {
        justify-content: center;
    }
    
    .image-wrapper {
        /* ইমেজ উপর কমলা কালারের experience badge বসানোর জন্য position: relative করা হলো  */
        position: relative;
        width: 100%;
        max-width: 700px;
    }
    
    .image-wrapper img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        display: block;
    }
    
    .experience-badge {
        width: 240px;
        height: 110px;
        background-color: #FF900E;
        border-radius: 8px;
        padding: 44px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        bottom: -85px;
        left: -92px;
    }
    
    .experience-badge h2 {
        font-size: 65px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
    }
    
    .experience-badge p {
        font-size: 25px;
        color: #FFFFFF;
        text-align: center;
    }
    /* Responsive Media Queary for Mobile device features enjoy section */
    
    @media screen and (max-width:576px) {
        .feature-enjoy-container {
            flex-direction: column;
            width: 90%;
            gap: 100px;
        }
        .experience-badge {
            max-width: 200px;
            left: -10px;
            bottom: -150px;
        }
        .experience-badge h2 {
            font-size: 55px;
        }
    }
    /* Responsive Media Query for tablet or medium device */
    
    @media screen and (min-width:576px) and (max-width:1000px) {
        .feature-enjoy-container {
            flex-direction: column;
            width: 80%;
        }
        .experience-badge {
            max-width: 220px;
            left: -40px;
            bottom: -100px;
        }
        .experience-badge h2 {
            font-size: 60px;
        }
    }
    /* Some Facts Section Styles */
    
    .some-facts-container {
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .some-facts-title {
        font-size: 2.8rem;
        font-weight: bold;
    }
    
    .some-fact-description {
        font-size: 1 rem;
        max-width: 542px;
        margin: 24px 0 90px 0;
    }
    
    .some-facts-card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 125px;
        justify-content: center;
        text-align: center;
        padding: 0 50px 0 50px;
    }
    
    .some-facts-card {
        border: 1px solid #FF900E;
        width: 242px;
        height: 242px;
        /* padding: 45px 40px 48px 40px; */
        background-color: #FFFFFF;
    }
    
    .some-facts-card img {
        margin-top: 45px;
        width: 45px;
        height: 45px;
    }
    
    .some-facts-card h2 {
        font-size: 45px;
        font-weight: 600;
        margin-top: 8px;
    }
    
    .some-facts-card p {
        font-size: 20px;
        font-weight: 600;
        color: #727272;
    }
    /* Responsive Media Queary for Mobile device some facts section */
    
    @media screen and (max-width:576px) {
        .some-facts-container {
            width: 90%;
        }
        .some-facts-title {
            margin-top: 200px;
        }
        .some-facts-card-container {
            grid-template-columns: repeat(1, 1fr);
            gap: 100px;
        }
    }
    /* Responsive Media Query for tablet or medium device */
    
    @media screen and (min-width:576px) and (max-width:1000px) {
        .some-facts-container {
            width: 90%;
        }
        .some-facts-card-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 115px;
        }
    }
    /* Our-Sponspors Section Style */
    
    .our-sponspors {
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .sponspors-container {
        text-align: center;
        margin-top: 175px;
    }
    
    .sponspors-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sponspors-title {
        font-size: 2.8rem;
        font-weight: bold;
    }
    
    .sponspors-description {
        font-size: 1rem;
        max-width: 542px;
        margin: 24px 0 55px 0;
    }
    
    .spornspors-brand-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        /* gap: 155px; */
        justify-content: space-between;
    }
    
    .brand-card {
        filter: grayscale(100%) brightness(40%) contrast(120%);
        transition: filter 0.22s ease;
        transition: transform 0.3s ease;
    }
    
    .brand-card:hover {
        filter: grayscale(0%) brightness(100%) contrast(100%);
        transform: translateY(-8px);
    }
    /* Responsive Media Queary for Mobile device Our Sponspors Section style */
    
    @media screen and (max-width:576px) {
        .sponspors-container {
            width: 90%;
        }
        .spornspors-brand-container {
            grid-template-columns: repeat(1, 1fr);
            gap: 90px;
        }
    }
    /* Responsive Media Query for tablet or medium device */
    
    @media screen and (min-width:576px) and (max-width:990px) {
        .our-sponspors {
            width: 90%;
        }
        .spornspors-brand-container {
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
        }
    }
    /* footer Section style */
    
    .footer-section {
        max-width: 1444px;
        margin: 0 auto
    }
    
    .footer-container {
        margin: 130px 0 216px 0;
        max-width: 1440px;
        padding: 39px 410px;
    }
    
    .copyright-text {
        font-size: 20px;
    }
    /* Responsive Media Queary for Mobile device Our Sponspors Section style */
    
    @media screen and (max-width:576px) {
        .footer-section {
            width: 90%;
        }
        .footer-container {
            padding: 39px 100px;
        }
    }
    /* Responsive Media Query for tablet or medium device */
    
    @media screen and (min-width:576px) and (max-width:990px) {
        .footer-section {
            width: 90%;
        }
        .footer-container {
            padding: 39px 125px;
        }
    }